{% include 'header.html' %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/" style="font-size:30px">Lawyer Booking System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
        <li class="nav-item"><a href="{% url 'admin:index' %}" class="nav-link">Admin</a></li>
        <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="{% url 'lawyer_login' %}" class="nav-link">Lawyer</a></li>
        <li class="nav-item"><a href="{% url 'client_login' %}" class="nav-link">Client</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<div class="hero-wrap" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center">
      <div class="col-md-6 ftco-animate d-flex align-items-end">
        <div class="text w-100">
          <h1 class="mb-4">Don't Feel Helpless We Fight for Justice</h1>
          <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          <p><a href="{% url 'contact' %}" class="btn btn-primary py-3 px-4">Contact us</a> <a href="{% url 'about' %}" class="btn btn-white py-3 px-4">Read more</a></p>
        </div>
      </div>
      <a href="{% static 'video.mp4' %}" class="img-video popup-vimeo d-flex align-items-center justify-content-center">
        <span class="fa fa-play"></span>
      </a>
    </div>
  </div>
</div>

<section class="ftco-intro">
  <div class="container-fluid">
    <!-- Your content for ftco-intro section -->
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <!-- Your content for ftco-section -->
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="img img-bg" style="background-image: url({% static 'images/bg_4.jpg'%});"></div>
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <span class="subheading">Testimonial</span>
        <h2 class="mb-3">Happy Clients</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          {% for feedback_item in feedback %}
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
              <div class="text">
                <p class="mb-4">{{ feedback_item.description }}</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url({% static 'images/person_1.jpg' %})"></div>
                  <div class="pl-3">
                    TO:
                    <p class="name">{{ feedback_item.lawyer_id }}</p>
                    FROM:
                    <span class="name">{{ feedback_item.client_id }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'footer.html' %}
</body>
</html>
