{% include 'client_header.html'%}
{% load static %}


 <body>
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	     <div class="container">
	      <a class="navbar-brand" href="/" style="font-size:30px">Lawyer Booking System</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">

	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="{% url 'client_home' %}" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="{% url 'client_details' %}" class="nav-link">Client Details</a></li>
	          <li class="nav-item"><a href="{% url 'client_lawyers' %}" class="nav-link">Lawyers</a></li>
                <li class="nav-item"><a href="{% url 'booked' %}" class="nav-link">Booked</a></li>
				<li class="nav-item"><a href="/client_change_password/" class="nav-link">Change Password</a></li>
	          <li class="nav-item"><a href="{% url 'client_logout' %}" class="nav-link">logout</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
 </body>
<br>
<center><h2>Client booked</h2></center>
	   <table  border="1" cellpadding="10" cellspacing="10" width="100%">
         <thead>
         <tr>
             <th>Id</th>
             <th>Client Email</th>
             <th>Lawyer Email</th>
             <th>Description</th>
             <th>Date</th>
             <th>Time</th>
             <th>status</th>
               </tr>
         </thead>
         <tbody>
         {% for form in forms %}
         <tr>
             <td>{{form.id}}</td>
             <td>{{form.client.email}}</td>
             <td>{{form.lawyer.email}}</td>
             <td>{{form.description}}</td>
             <td>{{form.date}}</td>
             <td>{{form.time}}</td>

                           <td>{% if form.status == 1 %}
                                    <span class="alert alert-success">Approved</span>
                                {% elif form.status == 2 %}
                                    <span class="alert alert-danger">Rejected</span>
                                {% else %}
                                    <span class="alert alert-info">Pending</span>
                                {% endif %}
                           </td>

             <td>
             <a href="/feedback/{{form.id}}">Feedback</a>
             </td>
         </tr>

  {% endfor %}
         </tbody>
     </table>
<br>
 {% include 'client_footer.html' %}