{% include 'lawyer_header.html'%}
{% load static %}


 <body>
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	     <div class="container">
	      <a class="navbar-brand" href="{% url 'lawyer_home' %}" style="font-size:30px">Lawyer Booking System</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">

	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="{% url 'lawyer_home' %}" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="{% url 'lawyer_details' %}" class="nav-link">Lawyer Details</a></li>
				<li class="nav-item"><a href="{% url 'client_feedback' %}" class="nav-link">Client Feedback</a></li>
				<li class="nav-item"><a href="{% url 'lawyer_change_password' %}" class="nav-link">Change Password</a></li>
	          <li class="nav-item"><a href="{% url 'lawyer_logout' %}" class="nav-link">logout</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
 </body>
	  <img src="{% static 'images/c_home.jpg' %}" width="100%"/>
 {% include 'lawyer_footer.html' %}

