{% include 'lawyer_header.html'%}
{% load static %}


<body xmlns="http://www.w3.org/1999/html">
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	     <div class="container">
	      <a class="navbar-brand" href="{% url 'lawyer_home' %}" style="font-size:30px">Lawyer Booking System</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">

	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="{% url 'lawyer_home' %}" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="{% url 'lawyer_details' %}" class="nav-link">Lawyer Details</a></li>
                <li class="nav-item"><a href="{% url 'client_feedback' %}" class="nav-link">Client Feedback</a></li>
				<li class="nav-item"><a href="{% url 'lawyer_change_password' %}" class="nav-link">Change Password</a></li>
	          <li class="nav-item"><a href="{% url 'lawyer_logout' %}" class="nav-link">logout</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
 </body>
<br>
	 <table  border="1" cellpadding="10" cellspacing="10" width="100%">
         <thead>
         <tr>
             <th>Id</th>
             <th>Client Email</th>
             <th>Lawyer Email</th>
             <th>Description</th>
             <th>Date</th>
             <th>Time</th>
<!--             <th>status</th>-->
             <th>action</th>
               </tr>
         </thead>
         <tbody>
         {% for lawyer in lawyer %}
         <tr>
             <td>{{lawyer.id}}</td>
             <td>{{lawyer.client.email}}</td>
             <td>{{lawyer.lawyer.email}}</td>
             <td>{{lawyer.description}}</td>
             <td>{{lawyer.date}}</td>
             <td>{{lawyer.time}}</td>

<!--                          <td>{% if lawyer.status == 1 %}-->
<!--                                    <span class="alert alert-success">Approved</span>-->
<!--                                {% elif lawyer.status == 2 %}-->
<!--                                    <span class="alert alert-danger">Rejected</span>-->
<!--                                {% else %}-->
<!--                                    <span class="alert alert-info">Pending</span>-->
<!--                                {% endif %}-->

<!--     </td>-->
    <td>
 {% if lawyer.status == 0 %}
                                <a href="{% url 'booking_approve' book_id=lawyer.id %}" class="btn btn-success" >Approve</a>
                                <a class="btn btn-danger" href="{% url 'booking_reject' book_id=lawyer.id %}" >Reject</a>
                                {% elif lawyer.status == 1  %}
                                 <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Approved</button>
                                {% else %}
                                <button class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Rejected</button>
                                {% endif %}
                            </td>


  {% endfor %}

         </tbody>
     </table>
<br>
 {% include 'lawyer_footer.html' %}